VITE_API_URL=http://127.0.0.1:8002
VITE_WS_URL=ws://127.0.0.1:8002
VITE_ORION_API_KEY=
VITE_DEPLOYMENT_API_KEY=devops-approver-key
VITE_HUB_URL=http://127.0.0.1:5180
VITE_CANONICAL_UI_URL=http://127.0.0.1:5173
VITE_ORION_UI_URL=http://127.0.0.1:8001/ui/
VITE_ORION_API_URL=http://127.0.0.1:8001
VITE_DEVOPS_UI_URL=http://127.0.0.1:3000
